body{
    background-color: aliceblue;
}

.container{
    width: 100%;
    margin:1rem;
    padding: 1rem;
    background-color:rgb(225, 239, 252);
  
}
.table{
    text-align: center;
}
#tableHead{
    background-color: rgba(191, 219, 244, 0.886);
}
button{
    border:none;
    background-color: transparent;
}
#edit{
    color: Green;
    padding-right:1rem
}
#delete{
    color: red;
}